In [1]:
a = input("a = ")

a = kkk

In [2]:
a

'kkk'

In [3]:
m = input("price = ")

price = 100

In [4]:
m

'100'

In [5]:
m * 5

'100100100100100'

In [6]:
m * 5.5

TypeError: can't multiply sequence by non-int of type 'float'

這邊的input 是字串

In [7]:
double(m)

NameError: name 'double' is not defined

In [8]:
float(m)

100.0

In [9]:
float(m) * 2

200.0

In [10]:
double(m) * 1

NameError: name 'double' is not defined

In [11]:
m = input("price = ")
sales = float(m)*0.85
print(sales)

price = 100
85.0

In [12]:
sales

85.0

In [13]:
"price :" str(sales) + dollars

SyntaxError: invalid syntax (<ipython-input-13-e10fba5b5abb>, line 1)

In [14]:
"price :" + str(sales) + "dollars"

'price :85.0dollars'

# 實作 聊天機器人

In [16]:
message = input("123")
print("加油")

123你好啊
加油

In [17]:
message = input("您好，有需要什麼服務歡迎聯繫本粉專")
print("已轉接專人，謝謝您耐心的等候!")

您好，有需要什麼服務歡迎聯繫本粉專我要客訴
已轉接專人，謝謝您耐心的等候!

# 聊天機器人 2.0

In [1]:
message = ""
while message != "881":
    message = input(">>")
    print("87")

>>fuck
87
>>c
87
>>881
87

In [2]:
message = "123"
while message != "881":
    message = input(">>")
    print("87")

>>cc
87
>>881
87

In [3]:
while message != "881":
    message = input(">>")
    print("87")

In [4]:
message

'881'

In [5]:
message = "123"
while message != "881":
    message = input(">>")
    print("87")

>>881
87

In [6]:
message

'881'

# 拍拍機器人3.0

In [8]:
message = input(" >> ")
if("難過" in message):
    print("可悲")

 >> 欸哈哈

In [10]:
message = input(" >> ")
if("難過" in message):
    print("可悲")
else:
    print("你難過嗎")

 >> 我開心
你難過嗎

In [12]:
message = input(" >> ")
if("難過" in message):
    print("可悲")
elif("開心" in message):
    print("你難過嗎")
else:
    print("可悲可")

 >> 吃屎
可悲可